

.btn {
  margin-right: 1rem;
  color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}


.edit {
  background-color: orange;
}

.delete {
  background-color: red;
}

.add {
  background-color: #006400;
}

.create {
  background-color: cornflowerblue;
}


.disable {
  background-color: lightslategrey;
}