

.item {
    width: 32%;
    padding: 2rem 1rem;
    border: 1px solid lightblue;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.item__inner > h2 {
    color: rebeccapurple;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.item__inner > p {
    color: lightslategrey;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.btns-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


.qauntity_wrapper {
    display: flex;
    align-items: center;
}

.qauntity_wrapper > button {
    padding: 0.25rem;
}

.qauntity_wrapper > p {
    margin: 0 0.5rem;
}