

.nav {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 2rem;
}

.nav__list {
    display: flex;
    font-size: 20px;
}

.nav__list a {
   margin-right: 1rem;
   cursor: pointer;
   text-decoration: none;
   color: black;
}